body {
    margin: 0;
    background-color:brown;
}

header {
    margin-bottom: 20px;
    height:40px;
}

nav {
    margin-left: 35px;
    margin-right: 20px;
    width: 130px;
    height:350px;
    float: left;
    padding: 10px;
    padding-top: 0px;
    font-size: 0.8em;
    background-color: antiquewhite;
}

section #MainContent {
    width: 600px;
    min-height: 370px;
    float: left;
    padding: 10px;
    font-size: 0.8em;
    background-color:antiquewhite;
}

aside {
    width: 125px;
    float: left;
    padding-top: 10px;
    font-size: 0.8em;    
}

footer {
    height: 37px;
    clear: both;
    text-align: center;
}

li {
    height: 100px;
   width:200px;
    margin:auto;
    font-size:large;
    font-display:block;
}
